/* MAIN STYLES */
* {
    font-family: 'Roboto', sans-serif;
}
h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-style: bold;
}
section {
    margin-left: 1rem;
}
section p, section ul {
    margin-left: 1rem;
}
main {
    margin-left: 25%;
}


/* CODE-BOX */
.code-box {
    background-color: rgb(171, 179, 173, 50%);
    padding: 0.5rem 0.25rem;
    width: 80%;
    margin-left: 3rem;
}
.code {
    font-family: monospace;
}

/* NAVBAR */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    height: 100%;
    position: fixed;
    overflow: auto;
    border-right: solid 3px black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
nav ul li a {
    display: block;
    width: 100%;
    text-decoration: none;
    border-bottom: solid 2px black;
    color: black;
    height: 100%;
    transition: 0.5s;
}
nav ul li a:hover {
    color: green;
    margin-left: 10%;
}
